/* Styles CSS Projet Booki */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    color: #222;
}

#content {
    max-width: 1368px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

header h1 {
    margin: 0;
}

header h1 a {
    display: block;
    width: 139px;
    height: 100px;
    background: url(../img/logo/booki.png) no-repeat;
    background-size: 100px;
    background-position: left center;
    text-indent: -9999px;
}

/* Nav */

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    padding: 38px 20px 0;
    color: #222;
    font-weight: 400;
    transition: all ease .1s;
}

header ul li a:hover {
    color: #0065FC;
    border-top: 10px solid;
    font-weight: 500;
}

/* SEARCH BOX */

#search-box {
    margin-top: 10px;
}

#search-box h2 {
    font-size: 22px;
    font-weight: 700;
}

#search-box p {
    margin-top: 8px;
    font-size: inherit;
    color: inherit;
}

#search-box form {
    margin-top: 20px;
    height: 50px;
    display: flex;
}

#search-box form label {
    height: 50px;
    width: 50px;
    border-radius: 12px 0 0 12px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-box form input {
    min-width: 240px;
    padding-left: 15px;
    border: 1px solid #f2f2f2;
    border-radius: 0;
}

#search-box form input::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: #222;
}

#search-box form button {
    padding: 15px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
    background-color: #0065FC;
}

.filters {
    margin-top: 40px;
    height: 50px;
    display: flex;
    align-items: center;
}

.filters p {
    margin: 0!important;
    font-size: 18px;
    font-weight: 700;
}

.filters ul {
    margin-left: 30px;
    display: flex;
}

.filters ul li {
    margin-right: 30px;
    list-style-type: none;
}

.filters ul li a {
    padding: 10px 15px;
    color: #222;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    border: 2.5px solid #f2f2f2;
    border-radius: 25px;
    background-color: #fff;
}

.filters ul li a:hover {
    background-color: #DEEBFF;
}

.filters ul li a i {
    margin-right: 10px;
    color: #0065FC;
}

.info {
    margin-top: 30px!important;
    display: flex;
    align-items: center;
}

.info i {
    margin-right: 10px;
    font-size: 10px;
    color: #0065FC;
    padding: 6px 9px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
}

/* HEBERGEMENTS */

#hebergements {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

#hebergements .hebergements-ville {
    padding: 30px;
    width: 62.5%;
    border-radius: 20px;
    background-color: #f2f2f2;
}

#hebergements .hebergements-ville h2 {
    font-size: 22px;
    font-weight: 700;
}

#hebergements .hebergements-ville .box-of-cards {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px 0;
}

#hebergements .hebergements-ville .card {
    min-width: 246px;
    padding: 5px;
    border-radius: 20px;
    background-color: #fff;
}

#hebergements .hebergements-ville .card img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
    background-color: #333;
}

#hebergements .hebergements-ville .card .card__content {
    padding: 0 0 5px 15px;
}

#hebergements .hebergements-ville .card .card__content h3 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
}

#hebergements .hebergements-ville .card .card__content p {
    margin: 8px 0;
    font-size: 14px;
    font-weight: 400;
}

#hebergements .hebergements-ville .card .card__content .rating {
    display: flex;
    list-style-type: none;
}

#hebergements .hebergements-ville .card .card__content .rating li {
    margin-right: 2px;
    font-size: 12px;
    color: #f2f2f2
}

#hebergements .hebergements-ville .card .card__content .rating li i.ticked {
    color: #0065FC;
}

/*  */

#hebergements .hebergements-populaires {
    padding: 30px;
    width: 32.5%;
    border-radius: 20px;
    background-color: #f2f2f2;
}
